<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
    <ion-list>
      <ion-item lines="none">
        <ion-thumbnail>
          <ion-img src ="assets/img/angular.png"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>Angular</h2>
          <ion-progress-bar color="primary" value="0.9"></ion-progress-bar>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-thumbnail>
          <ion-img src ="assets/img/nodejs.png"></ion-img>
        </ion-thumbnail>
        <ion-label>
          
          <h2>Node Js</h2>
          <ion-progress-bar color="primary" value="0.9"></ion-progress-bar>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-thumbnail>
          <ion-img src ="assets/img/mogodb.png"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>Mongo DB</h2>
          <ion-progress-bar color="primary" value="0.9"></ion-progress-bar>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-thumbnail>
          <ion-img src ="assets/img/ionic.png"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>Ionic </h2>
          <ion-progress-bar color="primary" value="0.9"></ion-progress-bar>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-thumbnail>
          <ion-img src ="assets/img/java.png"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>Java</h2>
          <ion-progress-bar color="primary" value="0.9"></ion-progress-bar>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-thumbnail>
          <ion-img src ="assets/img/mysql.png"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>My SQL</h2>
          <ion-progress-bar color="primary" value="0.9"></ion-progress-bar>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-thumbnail>
          <ion-img src ="assets/img/html5.jpg"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>HTML</h2>
          <ion-progress-bar color="primary" value="1"></ion-progress-bar>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-thumbnail>
          <ion-img src ="assets/img/CSS3.png"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>CSS</h2>
          <ion-progress-bar color="primary" value="0.8"></ion-progress-bar>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-thumbnail>
          <ion-img src ="assets/img/javascript.jpg"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>Java Script</h2>
          <ion-progress-bar color="primary" value="0.9"></ion-progress-bar>
        </ion-label>
      </ion-item>
     
      <ion-item lines="none">
        <ion-thumbnail>
          <ion-img src ="assets/img/bootstrap.png"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>Bootstrap</h2>
          <ion-progress-bar color="primary" value="0.9"></ion-progress-bar>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-thumbnail>
          <ion-img src ="assets/img/clanguaage.png"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>C Language</h2>
          <ion-progress-bar color="primary" value="0.9"></ion-progress-bar>
        </ion-label>
      </ion-item>
    </ion-list>
   
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>