<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
           <ion-card>
         
             <ion-card-content>
               <ion-row>
      
             
                <ion-col size-md="6" size-xs="12">
                  
                  <ion-card-subtitle>About Me</ion-card-subtitle>
                  <ion-card-title>Yusuf Khan</ion-card-title>
                  <br>
                <p>
                  I am Yusuf Khan.Full Stack Developer from India <br>
                  I have rich experience in building and customization <br> of Progressive Web Applications
                  and I am Good at Figma.
                </p>
                <ion-button>
                 Download CV
                </ion-button>
                </ion-col>
                <ion-col size-md="6" size-xs="12">
                  <ion-item lines="none">
                    <ion-label>
                      <h1>Develoment</h1>
                      <ion-progress-bar color="success" value="0.9"></ion-progress-bar>
                    </ion-label>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>
                      <h1>UI/UX Design</h1>
                      <ion-progress-bar color="dark" value="0.9"></ion-progress-bar>
                    </ion-label>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>
                      <h1>PhotoGraphy</h1>
                      <ion-progress-bar color="danger" value="0.9"></ion-progress-bar>
                    </ion-label>
                  </ion-item>
                </ion-col>
               </ion-row>
           
             </ion-card-content>
           </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="services">
      <ion-col size-md="12" size-xs="12">
        <ion-title>Services</ion-title>
      </ion-col>
      <ion-col size-md="4" size-xs="12">
        <ion-card>
          <ion-card-content>
             <ion-img class="launch" src="assets/img/rocket.png"></ion-img>
           <h1>UI/UX Design</h1>
 
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-md="4" size-xs="12">
        <ion-card>
          <ion-card-content>
    
             <ion-img class="rotate" src="assets/img/setings.png"></ion-img>

           <h1>Web Development</h1>
    
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-md="4" size-xs="12">
        <ion-card>
          <ion-card-content>
       
             <ion-img src="assets/img/camera.png"></ion-img>
    
     
           <h1>PhotoGraphy</h1>
       
  
    
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="12" size-xs="12">
        <ion-title>Experience & Academics</ion-title>
      </ion-col>
      <ion-col size-md="6" size-xs="12">
        <ion-card>
          <ion-card-header>
           
            <ion-card-title>Education</ion-card-title>
          </ion-card-header>
          <ion-card-content>
        <ion-row>
            <ion-col size-md="1" size-xs="1">
              <ion-icon name="book-sharp"></ion-icon>
              <div class="line"></div>
            </ion-col>
            <ion-col size-md="11" size-xs="11">
              <ion-label>2015 - 19</ion-label>
              <br>
              <ion-text>Bachelors Degree</ion-text>
              <br>
              <ion-label>SSITS,Rayachoty</ion-label>
            </ion-col>
            <br>
            <ion-col size-md="1" size-xs="1">
              <ion-icon name="book-sharp"></ion-icon>
              <div class="line"></div>
            </ion-col>
            <ion-col size-md="11" size-xs="11">
              <ion-label>2014 - 15</ion-label>
              <br>
              <ion-text>Intermediate</ion-text>
              <br>
              <ion-label>Govt Jr College,Mulakalacheruvu</ion-label>
              
            </ion-col>
        </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-md="6" size-xs="12">
        <ion-card>
          <ion-card-header>
           
            <ion-card-title>Experience</ion-card-title>
          </ion-card-header>
          <ion-card-content>
        <ion-row>
            <ion-col size-md="1" size-xs="1" >
              <ion-icon name="briefcase-sharp"></ion-icon>
              <div class="line"></div>
            </ion-col>
            <ion-col size-md="11" size-xs="11" >
              <ion-label>2020 - 20</ion-label>
              <br>
              <ion-text>UI Developer</ion-text>
              <br>
              <ion-label>Reliant Vision Pvt Ltd,Hyderabad</ion-label>
            </ion-col>
            <br>
            <ion-col size-md="1" size-xs="1">
              <ion-icon name="briefcase-sharp"></ion-icon>
              <div class="line"></div>
            </ion-col>
            <ion-col size-md="11" size-xs="11">
              <ion-label>2019 - 19</ion-label>
              <br>
              <ion-text>Full Stack Developer</ion-text>
              <br>
              <ion-label>XTreme IT Solutions Pvt Ltd,Hyderabad</ion-label>
            </ion-col>
        </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>