<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Contact</ion-card-subtitle>
            <ion-card-title>Yusuf Khan</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none">
              <ion-button>
                <ion-icon name="mail-sharp"></ion-icon>
              </ion-button>
              <ion-label>yusufkhan143@outlook.com</ion-label>
            </ion-item>

            <ion-item lines="none">
              <ion-button>
                <ion-icon name="call-sharp"></ion-icon>
              </ion-button>
              <ion-label> +91 8688302346 </ion-label>
            </ion-item>
          </ion-card-content>
          <ion-card-header>
            <ion-buttons class="ion-text-center">
              <ion-button>
                <ion-icon name="logo-github"></ion-icon>
              </ion-button>
              <ion-button>
                <ion-icon name="logo-linkedin"></ion-icon>
              </ion-button>
              <ion-button>
                <ion-icon name="logo-facebook"></ion-icon>
              </ion-button>
              <ion-button>
                <ion-icon name="logo-twitter"></ion-icon>
              </ion-button>
              <ion-button>
                <ion-icon name="logo-instagram"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <form [formGroup]="contactForm">
          <ion-item lines="none">
            <ion-icon name="happy-outline" *ngIf="Name()"  slot="end"></ion-icon>
            <ion-icon name="sad-outline" class="sadicon" *ngIf="!Name()" slot="end"></ion-icon>
            <ion-label position="fixed">Name:</ion-label>
            <ion-input (keyup)="nameFun()" clearInput inputmode="text" formControlName="name"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-icon name="happy-outline" *ngIf="Email()" slot="end"></ion-icon>
            <ion-icon name="sad-outline" class="sadicon" *ngIf="!Email()" slot="end"></ion-icon>
            <ion-label  position="fixed">Email:</ion-label>
            <ion-input (keyup)="Email()" clearInput inputmode="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-icon name="happy-outline" *ngIf="Phone()" slot="end"></ion-icon>
            <ion-icon name="sad-outline" class="sadicon" *ngIf="!Phone()" slot="end"></ion-icon>
            <ion-label  position="fixed">Phone:</ion-label>
            <ion-input (keyup)="Phone()" clearInput inputmode="tel" formControlName="phone"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-icon name="happy-outline" *ngIf="Description()" slot="end"></ion-icon>
            <ion-icon name="sad-outline" class="sadicon" *ngIf="!Description()" slot="end"></ion-icon>
            <ion-label>Description:</ion-label>
            <ion-textarea (keyup)="Description()" inputmode="text" formControlName="description" clearInput></ion-textarea>
          </ion-item>
        </form>
    
          <ion-button expand="block" (click)="submitEnquiry()" >Submit</ion-button>
     
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
